/* 设置按钮 */

.submitBox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


/* 按钮 */
.submitBox button {
    width: 30%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #0054fc75;
    color: #fff;
    float: right;
}

.submitBox button:hover {
    transform: translateY(-2px);
    background-color: #0054fc94;
}

.submitBox button:active {
    background-color: #0054fcc2;
}