/* 自定义多选 */

.question.checkbox input + label:before {
    content: "\a0";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    margin-right: .4em;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-clip: content-box;
}

.question.checkbox input:checked + label:before {
    border: 1px solid #6699ff;
    padding: 3px;
    background-color: #6699ff;
}

.question.checkbox input:checked + label {
    color: #6699ff;
}

.question.checkbox input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.question.checkbox label {
    cursor: pointer;
}

.question.checkbox .item:hover {
    background-color: rgba(218, 234, 251, 0.949);
}