/* 设置填空问题 */

/* 消去标签 */
.question.text .sign p {
    padding: 0;
}

.question.text input {
    height: 90%;
    width: 70%;
    display: block;
    border-radius: 5px;
    margin-left: 12px;
    padding-left: 12px;
    border: 1px solid #aaa;
    outline: none;
}

.question.text input:focus {
    border: 1px solid #6699ff;
}

.question.text input::placeholder {
    color: #aaa;
}

.question.text label {
    color: #ff6666;
}

